# Dependencies
node_modules/

# Environment variables
.env

# Database
backend/prisma/dev.db
backend/prisma/dev.db-journal

# Build output
frontend/dist/
backend/dist/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
